---
version: "3"
services:
  n8n:
    image: ghcr.io/n8n-io/n8n:latest@sha256:890c57b244dc8dd2688a05f70759f4b7792871f2a318395882908e751dfdc7f3
    environment:
      - N8N_HOST=n8n.tail48658.ts.net
      - N8N_PROTOCOL=https
      - WEBHOOK_URL=https://n8n.tail48658.ts.net/
      - GENERIC_TIMEZONE=America/Chicago
      - NODE_FUNCTION_ALLOW_EXTERNAL=html-to-notion
      - NODE_FUNCTION_ALLOW_BUILTIN=form-data
      - N8N_METRICS=true
      - N8N_METRICS_INCLUDE_MESSAGE_EVENT_BUS_METRICS=true
      - N8N_METRICS_INCLUDE_WORKFLOW_ID_LABEL=true
      - N8N_METRICS_INCLUDE_NODE_TYPE_LABEL=true
      - N8N_METRICS_INCLUDE_CREDENTIAL_TYPE_LABEL=true
      - DB_SQLITE_VACUUM_ON_STARTUP=true
    volumes:
      - n8n-data:/home/node/.n8n
    restart: always
    depends_on:
      - n8n-tailscale
    network_mode: service:n8n-tailscale
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/usr/bin/wget --server-response --proxy off --no-verbose --tries=1 --timeout=3 127.0.0.1:5678/healthz -O /dev/null 2>&1 | grep -q 'HTTP/1.1 200 OK'",
        ]
      interval: 30s
      retries: 3

  n8n-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.90.9
    restart: always
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: n8n
      TAILSCALE_FUNNEL: true
      TAILSCALE_SERVE_PORT: 5678
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - n8n-tailscale-state:/var/lib/tailscale

  stirling-pdf:
    image: ghcr.io/stirling-tools/stirling-pdf:2.0.2
    volumes:
      - trainingData:/usr/share/tessdata #Required for extra OCR languages
      - extraConfigs:/configs
      - customFiles:/customFiles/
      - logs:/logs/
      - pipeline:/pipeline/
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false
      - LANGS=en_US
    restart: always
    depends_on:
      - pdfs-tailscale
    network_mode: service:pdfs-tailscale

  pdfs-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.90.9
    restart: always
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: pdfs
      TAILSCALE_FUNNEL: false
      TAILSCALE_SERVE_PORT: 8080
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - pdfs-tailscale-state:/var/lib/tailscale

volumes:
  trainingData:
  extraConfigs:
  customFiles:
  logs:
  pipeline:
  n8n-data:
  n8n-tailscale-state:
  pdfs-tailscale-state:
