---
version: "3"
services:
  companion-stable:
    image: ghcr.io/bitfocus/companion/companion:latest@sha256:a2706a4eaf0550d9a195de34a235b1e61a879f735a37224b4aebcc4bbf7dbeb9
    volumes:
      - companion-stable-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-stable-tailscale
    network_mode: service:companion-stable-tailscale

  companion-stable-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.5
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-stable
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-stable-state:/var/lib/tailscale

  companion-beta:
    image: ghcr.io/bitfocus/companion/companion:main@sha256:2b4b8dcea1f78494a4e8d48b0a40043e7021f964e392366d419cb7dfa8e9fc73
    volumes:
      - companion-beta-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-beta-tailscale
    network_mode: service:companion-beta-tailscale

  companion-beta-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.5
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-beta
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-beta-state:/var/lib/tailscale

  companion-develop:
    image: ghcr.io/bitfocus/companion/companion:develop@sha256:1ab9ae6e1733a6247b7e37f061fa8aca29d6b26d8c973e6dac724e48e70264ad
    volumes:
      - companion-develop-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-develop-tailscale
    network_mode: service:companion-develop-tailscale

  companion-develop-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.5
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-develop
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-develop-state:/var/lib/tailscale

volumes:
  companion-stable-data:
  tailscale-stable-state:
  companion-beta-data:
  tailscale-beta-state:
  companion-develop-data:
  tailscale-develop-state:
