---
version: "3"
services:
  companion-stable:
    image: ghcr.io/bitfocus/companion/companion:latest@sha256:b2f86afa21b404f944cfa73bfd57889971981ebe919e4d90c152793bd58fb356
    volumes:
      - companion-stable-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-stable-tailscale
    network_mode: service:companion-stable-tailscale

  companion-stable-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.4
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-stable
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-stable-state:/var/lib/tailscale

  companion-beta:
    image: ghcr.io/bitfocus/companion/companion:main@sha256:2572707a5a9cb58352ac8e02a0f2ec9a78750ebc48b09dbc9ce18f71b64ff239
    volumes:
      - companion-beta-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-beta-tailscale
    network_mode: service:companion-beta-tailscale

  companion-beta-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.4
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-beta
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-beta-state:/var/lib/tailscale

  companion-develop:
    image: ghcr.io/bitfocus/companion/companion:develop@sha256:e2b248c763aafb54943950973bcae6b5fd9b5ea1fad4d550be605d9bcbc5d0e1
    volumes:
      - companion-develop-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-develop-tailscale
    network_mode: service:companion-develop-tailscale

  companion-develop-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.4
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-develop
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-develop-state:/var/lib/tailscale

volumes:
  companion-stable-data:
  tailscale-stable-state:
  companion-beta-data:
  tailscale-beta-state:
  companion-develop-data:
  tailscale-develop-state:
