---
version: "3"
services:
  companion-stable:
    image: ghcr.io/bitfocus/companion/companion:latest@sha256:d7db7fd98c6d3e411018260742e3399630b7c3817acc2d1c6b1e339696c4d3ec
    volumes:
      - companion-stable-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-stable-tailscale
    network_mode: service:companion-stable-tailscale

  companion-stable-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.90.9
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-stable
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-stable-state:/var/lib/tailscale

  companion-beta:
    image: ghcr.io/bitfocus/companion/companion:main@sha256:81d00c0198fa4702a554e7265af13f0b1e0fef5011782290a172c16000f60b99
    volumes:
      - companion-beta-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-beta-tailscale
    network_mode: service:companion-beta-tailscale

  companion-beta-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.90.9
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-beta
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-beta-state:/var/lib/tailscale

  companion-develop:
    image: ghcr.io/bitfocus/companion/companion:develop@sha256:0d306e503d0b5d25bed6e3296f41b524c5d4c616c2271676cd10736c404ea77b
    volumes:
      - companion-develop-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-develop-tailscale
    network_mode: service:companion-develop-tailscale

  companion-develop-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.90.9
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-develop
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-develop-state:/var/lib/tailscale

volumes:
  companion-stable-data:
  tailscale-stable-state:
  companion-beta-data:
  tailscale-beta-state:
  companion-develop-data:
  tailscale-develop-state:
