---
version: "3"
services:
  companion-stable:
    image: ghcr.io/bitfocus/companion/companion:latest@sha256:a2706a4eaf0550d9a195de34a235b1e61a879f735a37224b4aebcc4bbf7dbeb9
    volumes:
      - companion-stable-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-stable-tailscale
    network_mode: service:companion-stable-tailscale

  companion-stable-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.4
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-stable
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-stable-state:/var/lib/tailscale

  companion-beta:
    image: ghcr.io/bitfocus/companion/companion:main@sha256:bb433e3fbd1d0e9e852f4095aa866126653b04e97d8ce2ff0b724d8fbb5f6e3c
    volumes:
      - companion-beta-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-beta-tailscale
    network_mode: service:companion-beta-tailscale

  companion-beta-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.4
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-beta
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-beta-state:/var/lib/tailscale

  companion-develop:
    image: ghcr.io/bitfocus/companion/companion:develop@sha256:98f8f1222ec794e1803ccd4a322b29b3ab584f6ced3c9793fbc89989b518faba
    volumes:
      - companion-develop-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-develop-tailscale
    network_mode: service:companion-develop-tailscale

  companion-develop-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.4
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-develop
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-develop-state:/var/lib/tailscale

volumes:
  companion-stable-data:
  tailscale-stable-state:
  companion-beta-data:
  tailscale-beta-state:
  companion-develop-data:
  tailscale-develop-state:
