---
version: "3"
services:
  companion-stable:
    image: ghcr.io/bitfocus/companion/companion:latest@sha256:f3fbb1ebad4e2873192b1d37ebdfee4a00ce4db782baf472c02de12c9091ad80
    volumes:
      - companion-stable-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-stable-tailscale
    network_mode: service:companion-stable-tailscale

  companion-stable-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.5
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-stable
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-stable-state:/var/lib/tailscale

  companion-beta:
    image: ghcr.io/bitfocus/companion/companion:main@sha256:e7c5f773826df3f48244c0bdd482accff56b0198aef97f34e22d1aa1bdf15502
    volumes:
      - companion-beta-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-beta-tailscale
    network_mode: service:companion-beta-tailscale

  companion-beta-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.5
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-beta
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-beta-state:/var/lib/tailscale

  companion-develop:
    image: ghcr.io/bitfocus/companion/companion:develop@sha256:840423795c1973584c9e723d2561ddf6bcc6fae2e05097d123e45da500b65c63
    volumes:
      - companion-develop-data:/companion
      - /home/elliotmatson/containers/companion-module-dev:/app/module-local-dev
    restart: on-failure
    depends_on:
      - companion-develop-tailscale
    network_mode: service:companion-develop-tailscale

  companion-develop-tailscale:
    image: ghcr.io/elliotmatson/tailscale-sidecar-proxy:1.92.5
    restart: on-failure
    environment:
      TAILSCALE_AUTH_KEY: ${TS_AUTH_KEY:?err}
      TAILSCALE_HOSTNAME: companion-develop
      TAILSCALE_SERVE_PORT: 8000
      TAILSCALE_SSH: true
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_SERVE_SOURCE_MODE: http
    volumes:
      - tailscale-develop-state:/var/lib/tailscale

volumes:
  companion-stable-data:
  tailscale-stable-state:
  companion-beta-data:
  tailscale-beta-state:
  companion-develop-data:
  tailscale-develop-state:
